.deps
ChangeLog
Makefile
Makefile.in
aclocal.m4
anymeal
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gmock-all.cc
gtest-all.cc
install-sh
libtool
ltmain.sh
missing
stamp-h1
suite
moc_*.cpp
ui_*.hpp
*.o
