Source: anymeal
Section: kde
Priority: optional
Homepage: http://wedesoft.github.io/anymeal/
Maintainer: Jan Wedekind <jan@wedesoft.de>
Standards-Version: 4.4.1
Build-Depends: debhelper-compat (=12), flex, googletest, librecode-dev, libsqlite3-dev, qtbase5-dev-tools, qtbase5-dev

Package: anymeal
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cookbook database for storing recipes
 AnyMeal is a fast GNU/Linux recipe database software developed
 using SQLite3 and Qt5. It can manage a cookbook with more than
 250,000 recipes, thereby allowing to import, search, display,
 and print them.
