[Desktop Entry]
Name=anymeal
GenericName=Recipe Manager
Comment=Free recipe management software
Keywords=recipes;cooking;database;
Exec=anymeal
Terminal=false
Type=Application
Icon=anymeal
Categories=Qt;Utility;
StartupNotify=true
